
.stroke .head p {
    width: 43%;
}

.stoke-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 216px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(233,225,238,1) 42%, rgba(155,190,251,0.24693627450980393) 65%, rgba(206,223,253,0.196516106442577) 85%, rgba(255,255,255,0) 100%);
}
.stoke-bot-2 {
    padding: 0 216px 0 0px;
}
.stoke-bot-2 .stoke-text p {
    padding: 0 40px 0 150px ;
}



.stroke{
    padding: 70px 0;
}

.stoke-img {
    width: 33%;
}
.stoke-img img{
    width: 100%;
}
.stoke-text{
width: 67%;
}

.stoke-text p {
    color: #444444;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding: 0 130px 0 40px;
    line-height: 30px;
    text-align: justify;
}

.stoke-text p span{
    color: #000;
    font-size: 30px;
    font-weight: 700;
}

/* end stroke */

.sympoms-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    justify-content: space-between;
}

.sympoms-area{
    width: 23%;
    box-shadow: 2px 2px 12px #686262;
    transition: 0.4s;
}
.sympoms-text h1{
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.sympoms-text{
    background-color: #144372;
    text-align: center;
    padding: 10px 10px;
    transition: 0.4s;
}
.sympoms-img{
    background-color: #D9D9D9;
    padding: 10px 14px;
    transition: 0.4s;
}
.sympoms-area:hover .sympoms-img {
    background-color: #144372;
}
.sympoms-area:hover .sympoms-text {
    background-color: #D9D9D9;
}
.sympoms-area:hover .sympoms-text h1 {
    color: #144372;
}
.sympoms-area:hover {
    transform: translateY(-20px);
}

.sympoms-img img {
    width: 100%;
    border: 4px solid #fff;
}

.symptoms-main-area{
    background-image: url(../../paralysis/Symptoms-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.symptoms-main-area-2{
    background-image: url(../../migraine/symp-bg.png);
}

.symptoms-head h1{
    color: #4D4D4D;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
}

.symptoms-head h1::after{
  position: absolute;
  width: 110px;
  height: 1px;
  background-color: #4D4D4D;
  top: 55%;
  left: 460px;
  content: '';
} 
  
  .shine {
    position: relative;
    overflow: hidden;
  }
  
  .shine::before {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.451) 100%
    );
    content: "";
    display: block;
    height: 100%;
    left: -75%;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    width: 20%;
    z-index: 2;
  }
  
  .shine:hover::before,
  .shine:focus::before {
    animation: shine 0.85s;
  }
  
  @keyframes shine {
    100% {
      left: 125%;
    }
  }


/* end Symptoms */


.preventive-head h1{
    color: #4D4D4D;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    margin-bottom: 40px;
}

.preventive-head h1::after{
  position: absolute;
  width: 110px;
  height: 1px;
  background-color: #4D4D4D;
  top: 55%;
  left: 340px;
  content: '';
} 

.preven-con{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    justify-content: space-between;
}

.preven-area {
    width: 45%;
    background-color: #FFEDBF;
    display: flex;
    gap: 50px;
    align-items: center;
    border-radius: 40px 0 0 53px;
    border-bottom: 5px solid red;
    border-left: none;
    box-shadow: 2px 2px 12px #bab9b9;
    transition: 0.4s;
}
.preven-area:hover {
    background-color: #e3a5a8ab;
    border-bottom: #144372 5px solid;
    transform: translateY(-20px);
}

.preven-img {
    width: 14%;
}

.preven-img img{
    width: 100%;
}

.preven-text p{
    color: #222222;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.preven-text {
    width: 78%;
}

.preventive{
    padding: 50px 0;
}


.heartbeat {
	-webkit-animation: heartbeat 2.5s ease-in-out infinite both;
	        animation: heartbeat 2.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-1-17 18:32:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}










